@import url('https://fonts.googleapis.com/css?family=Karma:400,300,500,700');
.reset-button {
  border: none;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}
.reset-button-and-hover {
  border: none;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}
.reset-button-and-hover:hover {
  outline: none;
  background: none;
}
.selectDropDown {
  margin-right: 5px;
  position: relative;
  float: left;
}
.selectDropDown .dropdown {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}
.selectDropDown .dropdown.open ul {
  overflow: scroll;
  height: 138px;
  min-width: 0;
}
.selectDropDown .dropdown.open ul li a {
  color: #787878;
  padding: 3px 25px 3px 10px;
}
.selectDropDown select {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.selectDropDown select option {
  width: 100px;
}
.selectDropDown button {
  font-family: 'Karma';
  color: #222222;
  font-size: 14px;
  line-height: 1em;
  padding: 2px;
  text-decoration: none;
  outline: 0;
}
.selectDropDown button span.value {
  width: 20px;
  display: inline-block;
  padding-top: 1px;
}
.selectDropDown button:hover,
.selectDropDown button:focus,
.selectDropDown button:visited {
  text-decoration: none;
  color: #222222;
  outline: 0;
}
.selectDropDown i {
  margin-left: 5px;
  color: #1fab75;
  font-size: 16px;
  vertical-align: bottom;
}
/* Font declaration */
@font-face {
  font-family: 'Karma', serif;
  font-weight: normal;
  font-style: normal;
}
/* Common declaration */
body {
  padding-top: 66px;
  min-width: 320px;
}
a {
  outline: 0;
}
a:hover,
a:visited,
a:link {
  outline: 0;
  text-decoration: none;
}
span.ui-helper-hidden-accessible {
  display: none !important;
}
.no-sides-padding {
  padding-left: 0;
  padding-right: 0;
}
.generic-page-main {
  padding-bottom: 0;
}
.row.space-between-into {
  padding-bottom: 20px;
}
.row.space-between-out {
  margin-bottom: 30px;
}
.horizontal-box-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-trasparent {
  background: transparent !important;
}
.btn-trasparent.btn-success {
  color: #1fab75;
}
.btn-trasparent.btn-primary {
  color: #e85c32;
}
.btn-trasparent.btn-danger {
  color: #b33210;
}
.highlight {
  color: #e85c32;
}
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: inline-block;
}
[type="radio"] + span {
  display: block;
  width: 100%;
}
[type="radio"] + span > span {
  display: inline-block;
  vertical-align: middle;
  width: -moz-calc(100% - 29px);
  width: -o-calc(100% - 29px);
  width: -webkit-calc(100% - 29px);
  width: calc(100% - 29px);
  line-height: 18px;
}
/* the basic, unchecked style */
[type="radio"] + span:before {
  font-family: 'custom' !important;
  font-size: 1.33333333em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f10c";
  /* Radio Button Unchecked */
  display: inline-block;
  width: 25px;
  font-size: 1.3em;
  transition: 0.5s ease all;
  color: #787878;
  vertical-align: middle;
  line-height: 1.3em;
}
/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  content: "\f192";
  /* Radio Button Checked */
  font-size: 1.3em;
  color: #1fab75;
}
[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: inline-block;
}
[type="checkbox"] + span {
  display: block;
  width: 100%;
}
[type="checkbox"] + span > span {
  display: inline-block;
  vertical-align: middle;
  width: -moz-calc(100% - 24px);
  width: -o-calc(100% - 24px);
  width: -webkit-calc(100% - 24px);
  width: calc(100% - 24px);
  line-height: 18px;
}
/* the basic, unchecked style */
[type="checkbox"] + span:before {
  font-family: 'custom' !important;
  font-size: 1.33333333em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f10c";
  /* Checkbox Button Unchecked */
  display: inline-block;
  width: 20px;
  font-size: 1.3em;
  transition: 0.5s ease all;
  color: #787878;
  vertical-align: middle;
  line-height: 1.3em;
}
/* the checked style using the :checked pseudo class */
[type="checkbox"]:checked + span:before {
  content: "\f192";
  /* Checkbox Button Checked */
  font-size: 1.3em;
  color: #1fab75;
}
.focus-input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #ccc;
}
.focus-input:focus {
  box-shadow: 0 0 5px #e85c32;
  border: 1px solid #e85c32;
}
.hiddenButActive {
  visibility: hidden;
  height: 0;
  width: 0;
  outline: 0;
  border: none;
}
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #e85c32 !important;
}
.form-group.has-error input,
.form-group.has-error select,
.form-group.has-error textarea {
  background-color: #F4AD98;
}
.form-group.has-error input::-webkit-input-placeholder,
.form-group.has-error select::-webkit-input-placeholder,
.form-group.has-error textarea::-webkit-input-placeholder {
  color: #EA5B31;
  font-size: 18px;
  font-style: italic;
}
.form-group.has-error input:-moz-placeholder,
.form-group.has-error select:-moz-placeholder,
.form-group.has-error textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #EA5B31;
  font-size: 18px;
  font-style: italic;
}
.form-group.has-error input::-moz-placeholder,
.form-group.has-error select::-moz-placeholder,
.form-group.has-error textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #EA5B31;
  font-size: 18px;
  font-style: italic;
}
.form-group.has-error input:-ms-input-placeholder,
.form-group.has-error select:-ms-input-placeholder,
.form-group.has-error textarea:-ms-input-placeholder {
  color: #EA5B31;
  font-size: 18px;
  font-style: italic;
}
button {
  outline: none !important;
}
.scrollToTop {
  text-align: center;
  background: transparent;
  color: #EA5B31;
  text-decoration: none;
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: none;
  outline: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.scrollToTop:hover,
.scrollToTop:visited,
.scrollToTop:link {
  text-decoration: none;
  color: #EA5B31;
  outline: none;
}
.jspHorizontalBar {
  background: transparent;
}
.jspVerticalBar {
  background: transparent;
}
.jspTrack {
  background: transparent;
}
.jspDrag {
  background: #fdfdfd;
  color: #1fab75;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover {
  background: #EA5B31;
}
.jspArrow {
  font-family: 'custom' !important;
  font-size: 1.33333333em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.jspVerticalBar > .jspActive,
.jspArrow:hover {
  color: #EA5B31;
}
.jspVerticalBar {
  width: 10px;
}
.jspHorizontalBar {
  height: 10px;
}
.jspVerticalBar > .jspDisabled,
.jspVerticalBar > .jspDisabled:hover,
.jspHorizontalBar > .jspDisabled,
.jspHorizontalBar > .jspDisabled:hover {
  color: #FCE7E0;
}
.jspVerticalBar .jspArrow {
  height: 10px;
}
.jspHorizontalBar .jspArrow {
  width: 10px;
}
.jspArrowUp {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.jspArrowUp:before {
  content: "\f061";
}
.jspArrowDown {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.jspArrowDown:before {
  content: "\f061";
}
.jspArrowLeft {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.jspArrowLeft:before {
  content: "\f061";
}
.jspArrowRight:before {
  content: "\f061";
}
.jspArrowRight:before {
  content: "\f061";
}
@media (max-width: 768px) {
  .offcanvas-compatibilty-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99996;
    top: 0;
    overflow: scroll;
  }
  .offcanvas {
    background: #222222;
    left: -100%;
    width: 70%;
    height: 100%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 99998;
    top: 0;
    margin: 67px 0 0 0;
    font-size: 13px;
  }
  .offcanvas.right {
    left: 100%;
  }
  .offcanvas .content-body {
    min-width: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 14px;
  }
  .offcanvas-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 70%;
    left: -70%;
    z-index: 99997;
    background: #222222;
  }
  .offcanvas-height-col.right {
    left: 100%;
  }
  .offcanvas-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    opacity: 1;
    display: none;
    background: rgba(0, 0, 0, 0.6);
  }
}
.bootstrap-validate-form .popover {
  margin: 10px;
}
.bootstrap-validate-form .has-error .form-control.inline-error,
.bootstrap-validate-form .has-error input.inline-error {
  box-shadow: none;
  border: none;
}
.bootstrap-validate-form .has-error .form-control.inline-error::-webkit-input-placeholder,
.bootstrap-validate-form .has-error input.inline-error::-webkit-input-placeholder {
  color: #e85c32;
  font-size: 15px;
  font-style: italic;
}
.bootstrap-validate-form .has-error .form-control.inline-error:-moz-placeholder,
.bootstrap-validate-form .has-error input.inline-error:-moz-placeholder {
  /* Firefox 18- */
  color: #e85c32;
  font-size: 15px;
  font-style: italic;
}
.bootstrap-validate-form .has-error .form-control.inline-error::-moz-placeholder,
.bootstrap-validate-form .has-error input.inline-error::-moz-placeholder {
  /* Firefox 19+ */
  color: #e85c32;
  font-size: 15px;
  font-style: italic;
}
.bootstrap-validate-form .has-error .form-control.inline-error:-ms-input-placeholder,
.bootstrap-validate-form .has-error input.inline-error:-ms-input-placeholder {
  color: #e85c32;
  font-size: 15px;
  font-style: italic;
}
.search-validate-form .alert {
  margin-top: 10px;
  text-align: center;
}
.search-validate-form .form-control::-webkit-input-placeholder {
  color: #787878;
  font-size: 20px;
  font-style: italic;
}
.search-validate-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #787878;
  font-size: 20px;
  font-style: italic;
}
.search-validate-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #787878;
  font-size: 20px;
  font-style: italic;
}
.search-validate-form .form-control:-ms-input-placeholder {
  color: #787878;
  font-size: 20px;
  font-style: italic;
}
@media (min-width: 1020px) {
  .search-validate-form .form-control::-webkit-input-placeholder {
    color: #787878;
    font-size: 24px;
    font-style: italic;
  }
  .search-validate-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #787878;
    font-size: 24px;
    font-style: italic;
  }
  .search-validate-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #787878;
    font-size: 24px;
    font-style: italic;
  }
  .search-validate-form .form-control:-ms-input-placeholder {
    color: #787878;
    font-size: 24px;
    font-style: italic;
  }
}
.search-validate-form .has-error {
  background-color: #FCE7E0;
}
.search-validate-form .has-error .form-control {
  background-color: #FCE7E0;
  border-color: #787878;
  color: #e85c32;
}
.search-validate-form .has-error .form-control::-webkit-input-placeholder {
  color: #e85c32;
  font-size: 20px;
  font-style: italic;
}
.search-validate-form .has-error .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #e85c32;
  font-size: 20px;
  font-style: italic;
}
.search-validate-form .has-error .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #e85c32;
  font-size: 20px;
  font-style: italic;
}
.search-validate-form .has-error .form-control:-ms-input-placeholder {
  color: #e85c32;
  font-size: 20px;
  font-style: italic;
}
@media (min-width: 1020px) {
  .search-validate-form .has-error .form-control::-webkit-input-placeholder {
    color: #e85c32;
    font-size: 24px;
    font-style: italic;
  }
  .search-validate-form .has-error .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #e85c32;
    font-size: 24px;
    font-style: italic;
  }
  .search-validate-form .has-error .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #e85c32;
    font-size: 24px;
    font-style: italic;
  }
  .search-validate-form .has-error .form-control:-ms-input-placeholder {
    color: #e85c32;
    font-size: 24px;
    font-style: italic;
  }
}
/* Pages Style */

/*# sourceMappingURL=maps/custom.theme.css.map */
