<div class="container" id="error_page">
    <div class="row">
        <div class="col-xs-16 col-sm-8">
            <div class="message_wrapper">
                <h1>Oops, Errore 500</h1>

                <p>errore interno del server.</p>
                <a href="/">
                    <button class="btn btn-success">torna alla homepage</button>
                </a>
                <p>
                    <a href="#" class="error_details_trigger"  onclick="toggle_visibility('500_error_details');">dettagli</a>
                </p>
                <p id="500_error_details" class="error_details">
                    {{error}}
                </p>
            </div>
        </div>
        <div class="col-xs-16 col-sm-8">
            <div class="john">
                <img src="/images/404.gif" />
            </div>
        </div>
    </div>
</div>