<div class="row space-between-out">
    <div class="col-xs-16 center-block">
        <a href="/puntipizza">
            <img class="center-block hidden-xs visible-sm" src="/images/punti.png"/>
            <img class="center-block hidden-sm" src="/images/punti-large.png"/>
        </a>
    </div>
</div>

<div class="row space-between-out">
    <div class="col-xs-16 center-block">
        <img class="center-block hidden-xs visible-sm" src="/images/miglior_prezzo.png"/>
        <img class="center-block hidden-sm" src="/images/miglior_prezzo_large.png"/>
    </div>
</div>
