<div class="row">
    <div class="col-xs-11 col-xs-offset-2 col-md-16 col-md-offset-0">
        <p class="text-muted text-center">© 2015 Hellofood.it<span class="hidden-sm hidden-md hidden-lg"><br /></span> <span class="hidden-xs">·</span> via Ferrarese 156/6 - 40129 Bologna (IT) <span class="hidden-md hidden-lg"><br /></span><span class="hidden-xs hidden-sm">-</span> <a href="/privacy">Privacy Policy</a> · <a href="/terms-condition">Condizioni del servizio</a> · <a href="/cookie-policy">Cookie Policy</a> · <a href="/app">App HelloFood</a></p>
    </div>
</div>
