<div id="footer-menu" class="row">
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-16 text-center">
        <h5>COMPANY</h5>
        <ul class="">
            <li><a href="#">Chi Siamo</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Contatti</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> FAQ</a></li>
            <li class="breccatore hidden-sm hidden-md hidden-lg"></li>
            <li><a href="#">Prezzi garantiti</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Sitemap</a></li>
            <li><a href="/privacy"><span class="hidden-sm hidden-md hidden-lg">·</span> Privacy</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-16 text-center">
        <h5>NUOVE CITTA’</h5>
        <ul class="">
            <li><a href="#">Firenze</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Biella</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Palermo</a></li>
            <li class="breccatore hidden-sm hidden-md hidden-lg"></li>
            <li><a href="#">Treviso</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Domodossola</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Matera</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-16 text-center">
        <h5>WORLD FOOD</h5>
        <ul class="">
            <li><a href="#">Vegan</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Sushi</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> El Hal</a></li>
            <li class="breccatore hidden-sm hidden-md hidden-lg"></li>
            <li><a href="#">Indian</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Fusion</a></li>
            <li><a href="#"><span class="hidden-sm hidden-md hidden-lg">·</span> Japanese</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-16 text-center">
        <h5><span>Scarica l'app e ordina subito!</span></h5>
        <a class="store-link" href="/app"><img src="/images/appStore.png" /></a>
        <a class="store-link" href="/app"><img src="/images/googlePlay.png" /></a>
    </div>
</div>
