<nav class="navbar navbar-default navbar-fixed-top slide-active" role="navigation" id="header-navbar">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon-bullets"></i>
            </button>
            <a class="navbar-brand-logo" href="/" title="HelloFood">
                <i class="icon-cloche icon-2x hidden-xs" title="HelloFood"></i>
                <img src="/images/logo.png" alt="HelloFood" />
            </a>
        </div>

        {{> navbar}}
    </div><!-- /.container -->
    <div class="offcanvas-height-col right clearfix"></div>
    <div class="offcanvas-overlay"></div>
</nav>
<div id="ajax-login"></div>
