<li class="hidden-xs">
    <div class="navbar-link highlight show-on-hover">
        <i class="icon-pizza"></i> Punti Pizza
        <div id="pizzaPoints"><a class="hidden" href="/puntipizza"> <img src='/images/punti-pizza.png' /> </a></div>
    </div>
</li>
<li class="hidden-xs">
    <a href="/promotions/code" class="navbar-link">Codice Promo</a>
</li>
<li class="hidden-xs">
    <a id="open-ajax-login" href="/account/login" class="navbar-link">Accedi</a>
</li>
<li id="myDropdown" class="dropdown hidden-xs">
    <a href="#" class="dropdown-toggle navbar-link highlight" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div class="dropdown-icon"><span class="sr-only">Gestisci</span><i class="icon-bullets toggle-on-out"></i><i class="icon-close toggle-on-hover"></i></div></a>
    <ul class="dropdown-menu">
        <li><a href="/contacts/contattaci"><i class="icon-navigation-menu-contact icon-2x"></i>Contattaci</a></li>
    </ul>
</li>
<li class="visible-xs"><a href="/puntipizza"><i class="icon-pizza icon-2x highlight"></i><span>Punti Pizza</span></a></li>
<li class="visible-xs"><a href="/promotions/code"><i class="icon-percentage-o icon-2x highlight"></i><span>Codice Promo</span></a></li>
<li class="visible-xs"><a href="/contacts/contattaci"><i class="icon-navigation-menu-contact icon-2x highlight"></i><span>Contattaci</span></a></li>
