<div class="center-block">
    <ul class="list-inline">
        <li>
            <a href="/puntipizza" class="navbar-link">
                <div class="center-block">
                    <i class="icon-stack clearfix">
                        <i class="icon-circle back highlight"></i>
                        <i class="icon-pizza front"></i>
                    </i>
                    <div class="text"><span class="user-points">0</span><span class="user-awaiting-points"></span> punti</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/account/wallet" class="navbar-link">
                <div class="center-block">
                    <i class="icon-stack clearfix">
                        <i class="icon-circle back highlight"></i>
                        <i class="icon-credit-card front"></i>
                    </i>
                    <div class="text"><span class="cc-summary">0</span></div>
                </div>
            </a>
        </li>
        <li>
            <a href="/promotions/code" class="navbar-link">
                <div class="center-block">
                    <i class="icon-stack clearfix">
                        <i class="icon-percentage-o back highlight"></i>
                    </i>
                    <div class="text">Bonus</div>
                </div>
            </a>
        </li>
    </ul>
</div>