<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="format-detection" content="telephone=no">
<meta content="website" property="og:type">
<meta content="domain.com" property="og:site_name">
<meta content="#" property="og:image">

{{#if seo}}
    <title>{{seo.title}}</title>
    {{#each seo.metatags}}
        {{#if this.name}}
            <meta content="{{this.content}}" name="{{this.name}}">
        {{else}}
            {{#if this.property}}
                <meta content="{{this.content}}" property="{{this.property}}">
            {{/if}}
        {{/if}}
    {{/each}}
{{else}}
    {{> default_metatags}}
{{/if}}
